<template>
    <div>
        <img class="img-thumbnail" :src="avatar" width="100" height="100" alt="">
        <h2 v-text="user.name"></h2>
        <form v-if="canUpdate" method="post" enctype="multipart/form-data">
            <image-upload name="avatar" @loaded="onLoad"></image-upload>
        </form>
    </div>
</template>

<script>
    import ImageUpload from "./ImageUpload";

    export default {
        props: ['user'],

        components: {
            ImageUpload
        },

        data() {
            return {
                avatar: this.user.avatar_path
            }
        },

        computed: {
            canUpdate() {
                return this.authorize(user => user.id === this.user.id);
            }
        },

        methods: {
            onLoad(avatar) {
                this.avatar = avatar.src;

                this.persist(avatar.file);
            },

            persist(avatar) {
                let data = new FormData();
                data.append('avatar', avatar);

                axios.post(`/users/${this.user.id}/avatar`, data)
                    .then(() => flash(this.$t('messages.notifications.avatar_uploaded')))
            }
        }
    }
</script>

