<template>
    <button type="submit" :class="classes" @click="toggle">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
        </svg>
        <span v-text="count"></span>
    </button>
</template>

<script>
    export default {
        props: ['reply'],

        data() {
            return {
                count: this.reply.favoritesCount,
                active: this.reply.isFavorite
            }
        },

        computed: {
            classes() {
                return ['float-right btn btn-sm', this.active ? 'btn-primary' : 'btn-secondary'];
            },

            endpoint() {
                return '/replies/' + this.reply.id + '/favorites';
            }
        },

        methods: {
            toggle() {
                return this.active ? this.destroy() : this.create();
            },

            create() {
                axios.post(this.endpoint)

                this.active = true;
                this.count++;
            },

            destroy() {
                axios.delete(this.endpoint)

                this.active = false;
                this.count--;
            }
        }
    }
</script>
