<template>
    <div class="form-file mb-3">
        <input type="file" accept="image/*" class="form-file-input" id="avatar" @change="onChange">
        <label class="form-file-label" for="avatar">
            <span class="form-file-text">{{ $t('messages.profile.choose_file') }}...</span>
            <span class="form-file-button">{{ $t('messages.profile.browse') }}</span>
        </label>
    </div>
</template>

<script>
    export default {
        methods: {
            onChange(e) {
                if (! e.target.files.length) return;

                let file = e.target.files[0];
                let reader = new FileReader();

                reader.readAsDataURL(file);
                reader.onload = e => {
                    let src = e.target.result;

                    this.$emit('loaded', {src, file});
                };
            }
        }
    }
</script>
