<template>
    <ais-instant-search
        :search-client="searchClient"
        index-name="threads"
        :class-names="{
            'ais-InstantSearch': 'ais-InstantSearch row',
        }"
    >
        <div class="col-md-9">
            <ais-hits>
                <ul slot-scope="{ items }">
                    <li v-for="item in items" :key="item.objectID">
                        <a :href="item.path">
                            <ais-highlight :hit="item" attribute="title" />
                        </a>
                        <p>
                            <ais-highlight :hit="item" attribute="body" v-html="item.body" />
                        </p>
                    </li>
                </ul>
            </ais-hits>

            <ais-pagination
                :show-first="false"
                :show-last="false"
                :total-pages="20"
                :class-names="{
                    'ais-Pagination-list': 'pagination',
                    'ais-Pagination-item': 'page-item',
                    'ais-Pagination-link': 'page-link',
                    'ais-Pagination-item--selected': 'active'
                }"
            />
        </div>
        <div class="col-md-3">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">{{ $t('messages.nav.search') }}</span>
            </h4>

            <ais-search-box>
                <div slot-scope="{ currentRefinement, isSearchStalled, refine }">
                    <input
                        placeholder="Find a thread"
                        autofocus
                        class="form-control mb-3"
                        type="search"
                        v-model="currentRefinement"
                        @input="refine($event.currentTarget.value)"
                    >
                    <span :hidden="!isSearchStalled">{{ $t('messages.nav.loading') }}...</span>
                </div>
            </ais-search-box>

            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">{{ $t('messages.nav.filter_channel') }}</span>
            </h4>

            <ais-refinement-list
                attribute="channel.name"
                :class-names="{
                    'ais-RefinementList-list': 'form-check',
                    'ais-RefinementList-label': 'form-check-label',
                    'ais-RefinementList-checkbox': 'form-check-input'
                }"
                :sort-by="['count:desc']"
            ></ais-refinement-list>
        </div>
    </ais-instant-search>
</template>

<script>
    import Search from 'algoliasearch/lite';

    export default {
        props: ['appId', 'apiKey', 'q'],

        data() {
            return {
                searchClient: Search(
                    this.appId,
                    this.apiKey
                )
            };
        }
    }
</script>
