<template>
    <div>
        <div v-if="signedIn" class="form-group">
            <vue-tribute :options="tributeOptions">
                <wysiwyg name="body" v-model="body" placeholder="Have something to say?" :shouldClear="completed"></wysiwyg>
            </vue-tribute>
            <button class="btn btn-primary btn-block mt-1" type="submit" @click="addReply">{{ $t('messages.actions.post') }}</button>
        </div>
        <div v-else class="alert alert-warning mt-4" role="alert" v-html="this.$t('messages.thread.please_signin')"></div>
    </div>
</template>

<script>
    import VueTribute from 'vue-tribute';

    export default {
        components: {
            VueTribute
        },

        data() {
            return {
                body: '',
                completed: false
            }
        },

        computed: {
            tributeOptions() {
                return {
                    trigger: '@',
                    values: function (text, cb) {
                        axios.get('/api/users?name=' + text)
                            .then(function (response) {
                                cb(response.data);
                            });
                    },
                    menuContainer: document.querySelector('trix-editor'),
                    lookup: 'name',
                    fillAttr: 'slug',
                    allowSpaces: true,
                    menuShowMinLength: 2
                }
            }
        },

        methods: {
            addReply() {
                axios.post(location.pathname + '/replies', { body: this.body })
                    .catch(error => {
                        flash(error.response.data, 'danger');
                    })
                    .then(({data}) => {
                        this.body = '';
                        this.completed = true;

                        flash(this.$t('messages.notifications.reply_posted'));

                        this.$emit('created', data);
                    });
            }
        }
    }
</script>
