<template>
    <nav aria-label="Page navigation" v-if="shouldPaginate">
        <ul class="pagination">
            <li class="page-item" v-show="prevUrl" @click.prevent="page--">
                <a class="page-link" href="#" aria-label="Previous" rel="prev">
                    <span aria-hidden="true" v-html="this.$t('pagination.previous')"></span>
                </a>
            </li>
            <li class="page-item" v-show="nextUrl" @click.prevent="page++">
                <a class="page-link" href="#" aria-label="Next" rel="next">
                    <span aria-hidden="true" v-html="this.$t('pagination.next')"></span>
                </a>
            </li>
        </ul>
    </nav>
</template>

<script>
    export default {
        props: ['dataSet'],

        data() {
            return {
                page: 1,
                prevUrl: false,
                nextUrl: false
            }
        },

        watch: {
            dataSet() {
                this.page = this.dataSet.current_page;
                this.prevUrl = this.dataSet.prev_page_url;
                this.nextUrl = this.dataSet.next_page_url;
            },

            page() {
                this.broadcast().updateUrl();
            }
        },

        computed: {
            shouldPaginate() {
                return !! this.prevUrl || !! this.nextUrl;
            }
        },

        methods: {
            broadcast() {
                return this.$emit('changed', this.page);
            },

            updateUrl() {
                history.pushState(null, null, '?page=' + this.page);
            }
        }
    }
</script>
