<template>
    <div :id="'reply-' + id" class="media">
        <div class="card mb-2" :class="isBest ? 'text-white bg-dark' : ''">
            <div class="card-header">
                <a :href="'/profiles/' + reply.owner.slug" v-text="reply.owner.name"></a>
                <small class="text-muted">, {{ reply.created_at | formatDate }}</small>
                <span v-if="signedIn">
                    <favorite :reply="reply"></favorite>
                </span>
            </div>
            <div class="card-body">
                <div v-if="editing">
                    <form @submit="update">
                        <div class="form-group">
                            <wysiwyg v-model="body"></wysiwyg>
                        </div>
                        <button class="btn btn-sm btn-primary">{{ $t('messages.actions.update') }}</button>
                        <button class="btn btn-sm btn-link" @click="cancel">{{ $t('messages.actions.cancel')}}</button>
                    </form>
                </div>
                <p v-else v-html="body" class="card-text"></p>
            </div>
            <div class="card-footer" v-if="authorize('owns', reply) || authorize('owns', reply.thread)">
                <div v-if="authorize('owns', reply)" class="float-left btn-group btn-group-sm" role="group" aria-label="Action group">
                    <button class="btn btn-secondary" @click="edit">{{ $t('messages.actions.edit') }}</button>
                    <button class="btn btn-danger" @click="destroy">{{ $t('messages.actions.delete') }}</button>
                </div>
                <div v-if="authorize('owns', reply.thread)" class="float-right btn-group btn-group-sm" role="group" aria-label="Action group">
                    <button class="btn btn-info" @click="markBestReply">{{ $t('messages.thread.best_reply') }}</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Favorite from './Favorite';
    import moment from 'moment';

    moment.locale(window.App['default_locale']);

    export default {
        props: ['reply'],

        components: {
            Favorite
        },

        data() {
            return {
                editing: false,
                id: this.reply.id,
                body: this.reply.body,
                isBest: this.reply.isBest
            };
        },

        created() {
            window.events.$on('best-reply-selected', id => {
                this.isBest = (id === this.id)
            })
        },

        filters: {
            formatDate: d => {
                let replyDate = new Date(d);

                if (moment().diff(replyDate, 'days') > 7) {
                    return moment(replyDate).format('LLL');
                }

                return moment(replyDate).startOf('minute').fromNow()
            }
        },

        methods: {
            update() {
                axios.patch('/replies/' + this.id, {
                    body: this.body
                })
                .catch(error => {
                    flash(error.response.data, 'danger');
                });

                this.editing = false;

                flash(this.$t('messages.notifications.updated'));
            },

            destroy() {
                axios.delete('/replies/' + this.id);

                this.$emit('deleted', this.id);
            },

            edit() {
                this.reply.body = this.body;
                this.editing = true;
            },

            cancel() {
                this.body = this.reply.body;
                this.editing = false;
            },

            markBestReply() {
                axios.post('/replies/' + this.id + '/best');

                window.events.$emit('best-reply-selected', this.id);
            }
        }
    }
</script>
